name: create comment on new issue
permissions:
    issues: write
on:
    issues:
        types: [opened]
jobs:
    create-comment-action:
        runs-on: ubuntu-latest
        steps:
            - name: "dump github context"
              run: echo "${{ toJson(github.event) }}"
              shell: bash
            - name: Create comment
              uses: peter-evans/create-or-update-comment@v5
              with:
                issue-number: ${{ github.event.issue.number }}
                body: |
                    This is a multi-line test comment
                    - With GitHub **Markdown** :sparkles:
                    - Created by [create-or-update-comment][1]
                    [1]: https://github.com/peter-evans/create-or-update-comment
                
                reactions: '+1'
    create-comment-action-api:
        runs-on: ubuntu-latest
        steps:
            - name: create comment via API
              run: |
                    curl -s -S -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                        -H "Content-Type: application/json" \
                        -X POST \
                        -d '{"body":"This is a test comment created via the REST API."}' \
                        "${{ github.api_url }}/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/comments" > response.json
                    cat response.json   
              shell: bash
