name: create comment on new issue
on:
    issues:
        types: [opened]
jobs:
    comment:
        runs-on: ubuntu-latest
        steps:
            - name: "dump github context"
              run: echo "${{ toJson(github).event }}"
              shell: bash