name: hello world
on:
    push:
        branches:
            - main
    workflow_dispatch:
jobs:
    hello:
        runs-on: ubuntu-latest
        steps:
            - name: Hello World Action
              run: echo "Hello, World!"
              shell: bash